img
{
    height: 100px;
}
body
{
    text-align: center;
    font-family: 'Arial';
    background: blue;
    color: rgb(249, 0, 116);
}
a
{
    color: black;
    font-family: 'New Times Roman';
    font-size: 50px;
}
iframe
{
    height: 200px
}
button
{
    height:100px;
    width:200px;
}