img
{
    width: 100px;
}
body
{
    text-align: center;
    font-family: 'Arial';
    background: blue;
    color: rgb(249, 0, 116);
}
a
{
    color: black;
    font-family: 'Arial';
    font-size: 50px;
}